<h1>Welcome Freebie Getter, <%= @user.name %>. </h1> <br>

<div class="panel panel-default">
  <div class="panel-body">
<% if @user.items.empty? %>
<h4>You haven't collected any freebies yet :( <br>
Get on out there! Get some freebies! </h4>
<% else %>
<h3>Here's a list of the freebies you've collected:</h3>

<table class="table table-striped">
  <tr>
    <th> Item name </th>
    <th> Item value </th>
    <th> Brand </th>
    <th> Picture </th>
    <th> </th>
  </tr>
<% @user.user_items.each do |user_item| %>
  <tr>
    <td>
      <a data-toggle="modal" data-target="#itemModal"> <%=user_item.item.name%></a>
      <!-- Modal -->
      <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"><%=user_item.item.name%></h4>
            </div>
            <div class="modal-body">
              <p>Prestige Level: <%= user_item.item.brand.prestige * user_item.item.market_value %></p>
              <p>Gimmick: <%= user_item.item.gimmick%></p>
              <p>Number of people who have collected this item: <%=user_item.item.users.count %></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div></td>
    <td> <%= "$#{user_item.item.market_value}" %> </td>
    <td> <%= user_item.item.brand.name %> </td>
    <td> <%= image_tag(user_item.item.item_image.url(:small)) %> </td>
    <td>
      <%= form_tag user_item_path(user_item.id), method: "delete" %>
      <%= submit_tag "X" %>
    </td>
  </tr>
    <% end %>
</table>

<br>

<% end %>
</div>
</div>

<br><br>
      <%= link_to "Get More Freebies!", items_path %>

<br>

<p></p>
