<h1 class="text-center">All the Freebies!</h1>

  <% @items.each do |item| %>
  <div class="row">
    <div class="col s8 offset-s1">
      <h4 class="header"><%= item.name %></h4>

      <div class="card horizontal">
        <div class="card-image">
            <%= link_to image_tag(item.item_image.url(:large)), item.item_image.url %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p><strong>Brought to You By: </strong><%= item.brand.name %></p>
            <p><strong>Prestige Level: </strong><%= item.brand.prestige * item.market_value %></p>
            <p><strong>Gimmick: </strong><%= item.gimmick%></p>
            <p><strong>Number of people who have collected this item: </strong><%=item.users.count %></p>
          </div>
          <div class="card-action <%=item.id%>">
            <%= form_tag user_items_path, method: :create do %>
            <% if current_user.items.include?(item) %>
              <%="You've already collected this freebie!"%>
            <% else %>
            <input type="hidden" name="item_id" value="<%=item.id%>" />
            <input type="submit" value="Add <%=item.name%> to my collection" />
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
  <% end %>
