<h1><%= @item.name %></h1>
<br>
<h2>Brought to You By: <%= @item.brand.name %></h2>
<h3>Prestige Level: <%= @item.brand.prestige * @item.market_value %></h3>
<p> Number of people who have collected this item: <%=@item.users.count %></p>
<br>


<%= form_tag user_path(User.find(session[:user_id])), method: :get do %>

<% if current_user.admin == true %>
<%= link_to "Edit this freebie", edit_item_path(@item) %>
<% else %>
  <%= button_tag "Add to my freebie collection", name: "item_id", value: @item.id %>
<% end %>

<% end %>
