
<h1>Welcome Freebie Giver, <%= @brand.business.name %>. </h1> <br>

<div class="panel panel-default">
  <div class="panel-body">
<% if @brand.items.empty? %>
    You haven't logged any freebies yet :( <br>
    Log some freebies!
<% else %>
      <h2>Here's a list of freebies you currently offer!</h2>

          <table class="table table-striped">
            <tr>
              <th> Item name </th>
              <th> Item value </th>
              <th> Brand </th>
              <th> Picture </th>
              <th> </th>
            </tr>
          <% @brand.items.each do |item| %>
            <tr>
              <td>
                <a data-toggle="modal" data-target="#itemModal"> <%=item.name%></a>
                <!-- Modal -->
                <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><%=item.name%></h4>
                      </div>
                      <div class="modal-body">
                        <p>Prestige Level: <%= item.brand.prestige * item.market_value %></p>
                        <p>Gimmick: <%= item.gimmick%></p>
                        <p>Number of people who have collected this item: <%=item.users.count %></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div></td>
              <td> <%= "$#{item.market_value}" %> </td>
              <td> <%= item.brand.name %> </td>
              <td> <%= image_tag(item.item_image.url(:small)) %> </td>
              <td>
                <%= form_tag item_path(item.id), method: "delete" %>
                <%= submit_tag "X" %>
              </td>
            </tr>
              <% end %>
          </table>

<% end %>

</div>
</div>

<br>

  <a class="waves-effect waves-light btn modal-trigger" href="/items/new" data-target="#modal1" data-toggle='modal'>Add New Freebie</a>

  <div id="modal1" class="modal">
   <div class="modal-content">

   </div>
 </div>
 <br>
 <%= link_to 'View most popular freebies', brands_path %>
