<!DOCTYPE html>
<html>
  <head>
    <title>FreebieTrackerNetwork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Freebie Tracker Network</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <% if @user && @user.brands.length == 0 %>
        <li>
            <%= "Your status: #{@user.status_level}" %>
        </li>
        <% end %>

        <li>
          <% if current_user != nil%>
            <%= link_to 'Log Out', signout_path, method: :delete %>
            <% end %>
        </li>

      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
